<section id="comments">       
    
    <section class="staticman-comments post-comments">
            
        {{ $.Scratch.Add "hasComments" 0 }}
        
        {{ $postSlug := .File.BaseFileName }}
        {{ $comments := readDir "data/comments" }}
        {{ range $comments }}
        {{ if eq .Name $postSlug }}
            
            {{ $.Scratch.Add "hasComments" 1 }}
            
            {{ range $index, $comments := (index $.Site.Data.comments $postSlug ) }}
                
                {{ if not .reply_to }}
    
                    <div id="commentid-{{ ._id }}" class="card clearfix">

                        <div class="post-comment-header">

                            <img class="post-comment-avatar left" src="https://www.gravatar.com/avatar/{{     .email }}?s=70&r=pg&d=identicon">
                            
                            <ul class="post-comment-info">
                               <li> 
                                   <span class="post-comment-name"><i class="fas fa-user"></i> {{ .name }}</span>
                                </li>
                                <li> 
                                    <i class="fas fa-calendar-alt"></i>
                                    <time class="post-time">
                                        {{ dateFormat "02 Jan 2006 - 15:04" .date }}
                                    </time>
                                </li>
                            </ul>
                        
                        </div>
                        
                        <div class="comment-message">
                            {{ .comment | markdownify }}
                        </div>
                        
                        <button id="{{ ._id }}" class="waves-effect waves-light btn-small right grey darken-4" href="#comment-form" onclick="getReply('fields[reply_to]', '{{ ._id }}')"> Répondre à {{ .name }}
                        </button>
                      
                    </div>
                {{ partial "comment-replies" (dict "entryId_parent" $postSlug "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name     "context" .) }}
    
                    {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}

        <form id="comment-form" class="post-new-comment card" method="post" action="{{ .Site.Params.staticman_api }}">
            {{ if eq ($.Scratch.Get "hasComments") 0 }}
                <p>Soit le premier à donner ton avis 🎉</p>
            {{ end }}
            <h3 class="prompt">Donne moi ton avis </h3>
            <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
            <input type="hidden" name="options[slug]" value="{{ .File.BaseFileName }}">
            <div class="row">
            <div class="input-field col s6">
            <input type="text" name="fields[name]" class="post-comment-field" placeholder="Name *" required/>
            </div>
            <div class="input-field col s6">
            <input type="email" name="fields[email]" class="post-comment-field" placeholder="Email address (will not be public) *" required/>
        </div>
            </div>
            <input type="hidden" id="comment-parent" name="fields[reply_to]" value="">
        <div class="row">
            <textarea name="fields[comment]" class="post-comment-field materialize-textarea" placeholder="Comment (markdown is accepted) *" required rows="10"></textarea>
          </div>
<div class="row">
            
  <button type="submit" class="post-comment-field comment-buttons right btn-large grey darken-4">Partager mon avis</button>
        </div>
        </form>
    </section>

    <div id="comment-submitted" class="dialog">
        <h3>Thank you!</h3>
        <p>Your comment has been submitted and will be published once it has been approved. &#128522;</p>

        <p><a href="#" class="btn btn-primary comment-buttons ok">OK</a></p>
    </div>


</section>
