{{ range $index, $comments := (index $.SiteDataComments_parent $.entryId_parent ) }}
  {{ if eq .reply_to $.parentId }}
    <div id="commentid-{{ ._id }}" class="reply card clearfix">

        <div class="post-comment-header">

           <img class="post-comment-avatar left" src="https://www.gravatar.com/avatar/{{ .email }}?s=70&r=pg&d=identicon">
            <ul class="post-comment-info">
                <li class="post-comment-name">
                    <i class="fas fa-user"></i>  {{ .name }}<i><small> répond à  {{ $.parentName }}</i></small>
                </li>
               
                <li>
                    <i class="fas fa-calendar-alt"></i>
                    <time class="post-time">
                        {{ dateFormat "02 Jan 2006 - 15:04" .date }}
                    </time>
                </li>
            </ul>
        </div>
        <div class="comment-message">
            {{ .comment | markdownify }}
        </div>
        <div class="comment__reply">
            <button id="{{ ._id }}" class="waves-effect waves-light btn-small right grey darken-4" href="#comment-form" onclick="getReply('fields[reply_to]', '{{ $.parentId }}')">Répondre</button>
        </div>
    </div>
  {{ end }}
{{ end }}