<footer class="page-footer grey darken-4">
    <div class="footer-copyright">
      <div class="container">
      © {{ dateFormat "2006" now }} <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
      <div class="right">
        <a href="https://www.facebook.com/groups/1939256899645175/"><i class="fab fa-facebook-square"></i></a> - 
        <a href="https://twitter.com/974attitude"><i class="fab fa-twitter"></i></a> - 
        <a class="grey-text text-lighten-4" href="/mentions-legales">Mentions Légales</a>
      </div>
     
      </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>

<script src="{{ "js/app.js" | relURL }}"></script>

</body>