  
<header id="site-header">

    <div class="navbar-fixed">

      <nav class="grey darken-4" role="navigation">
        
        <div class="container">
          
          <span id="logo-container" class="brand-logo hide-on-small-only">
            La culture réunionnaise à porté de clic</span>

            <span id="logo-container" class="brand-logo hide-on-med-and-up">
              974 attitude</span>

          <ul class="right hide-on-med-and-down">
            {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
          <li><a href="{{.Permalink}}" class="button">{{.Title}}</a></li>
        {{end}}
          </ul>
  
        </div>

        
        <i href="#" data-target="nav-mobile" class="sidenav-trigger hide-on-med-and-up"><i class="material-icons">menu</i></i>

      </nav>

      

</div>

<ul id="nav-mobile" class="sidenav">
  <li class="rs center">
    <a href="https://www.facebook.com/groups/1939256899645175/"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/974attitude"><i class="fab fa-twitter"></i></a>
           
  </li>
  <li>
    <div id="search-mobile">

    </div>
  </li>
  {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
  <li><a href="{{.Permalink}}" class="button">{{.Title}}</a></li>
{{end}}
</ul>
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s12 m8">  
        <div id="breadcrumbs">
        <a href="/"><i class="fas fa-home"></i></a>
        {{ range (split .RelPermalink "/") }}
            {{ if gt (len . ) 0 }}
                 <a href="/{{ . }}" class="breadcrumb">{{ humanize (replace . "posts" "blog") }}</a>
            {{ end }}
        {{ end }}
          </div>
        </div>
      <div class="col m4 white-text">
        <div id="search-desktop">
        <div class="search" id="search">

          <div class="input-field">
            <input id="search-box" type="text" v-model="txt" @keyup="search()" @blur="close()" autocomplete="off">
            <i class="material-icons">search</i>
          </div>

          <div class="search-results" :style="{'visibility': showresult?'visible':'hidden', 'opacity': showresult?'1':'0'}">
            <a v-for="item in result" :href="item.url">{{ printf "{{ item.title }}" }}</a>
        </div>

        </div>
      </div>
      </div>
      
    </div>
  </div>
</header>
<div id="overlay" class="hide-on-small-only">
</div>

