  
<header id="site-header">

    <div class="navbar-fixed">

      <nav class="grey darken-4" role="navigation">
        
        <div class="container">
          
          <span id="logo-container" class="brand-logo hide-on-small-only">
            La culture réunionnaise à porté de clic</span>

            <span id="logo-container" class="brand-logo hide-on-med-and-up">
              974 attitude</span>

          <ul class="right hide-on-med-and-down">
            {{/*  <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="far fa-envelope"></i></li>  */}}
            {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
          <li><a href="{{.Permalink}}" class="button">{{.Title}}</a></li>
        {{end}}
          </ul>
  
        </div>

        
        <i href="#" data-target="nav-mobile" class="sidenav-trigger hide-on-med-and-up"><i class="material-icons">menu</i></i>

      </nav>

      

</div>

<ul id="nav-mobile" class="sidenav">
  {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
  <li><a href="{{.Permalink}}" class="button">{{.Title}}</a></li>
{{end}}
</ul>
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s6">  
        <div id="breadcrumbs">
        <a href="/"><i class="fas fa-home"></i></a>
        {{ range (split .RelPermalink "/") }}
            {{ if gt (len . ) 0 }}
                 <a href="/{{ . }}" class="breadcrumb">{{ humanize (replace . "posts" "blog") }}</a>
            {{ end }}
        {{ end }}
          </div>
        </div>
      <div class="col s6 white-text">

        <div class="search right" id="search">

          <div class="input-field">
            <input id="searchbox" type="text" v-model="txt" @keyup="search()" @blur="close()" autocomplete="off">
            <label for="searchbox"><i class="material-icons">search</i></label>
          </div>

          <div class="search-results" :style="{'display': showresult?'block':'none'}">
            <a v-for="item in result" :href="item.url">{{ printf "{{ item.title }}" }}</a>
        </div>

        </div>
        
      </div>
      
    </div>
  </div>
</header>

